                /*nuancier*/
                
                $C1:#15c5bd; //Le bleu
                $C2:#FFF; //Le blanc
                $C3:#303030; //Le gris foncé
                /*la police*/
                
                @import url(http://fr.allfont.net/allfont.css?fonts=bellota);
                //  font-family: 'Bellota', arial;
                @font-face {
                    font-family: 'bellota';
                    src: url('../fonts/bellota/Bellota-Regular.otf') format('truetype');
                    font-weight: normal;
                    font-style: normal;
                }
                /* Structure */
                
                body {
                    background-color: $C3;
                }
                
                header {
                    border-bottom: 1px solid $C2;
                    a {
                        color: $C2;
                        text-decoration: none;
                        opacity: 0.5;
                        transition: 0.1s;
                        &:hover {
                            text-decoration: none;
                            color: $C2;
                            opacity: 1.0;
                            text-shadow: $C3 0 0 1px;
                        }
                    }
                    .navigation {
                        position: fixed;
                        background-color: $C3;
                        font-family: 'bellota', arial;
                        width: 100%;
                        z-index: 5;
                    }
                    h1 {
                        font-size: 2vw;
                        top: 0.1%;
                        right: 0.1%;
                        position: absolute;
                        text-align: right;
                        color: $C2;
                        font-family: 'bellota', arial;
                    }
                }
                
                .formulaire {
                    background-color: #303030;
                    color: #FFF;
                    // border-radius:10px;
                    padding: 0 35%;
                    margin-bottom: 10%;
                    u {
                        text-decoration-color: #15c5bd;
                    }
                    .btn {
                        background-color: #FFF;
                    }
                    .btn:hover {
                        box-shadow: inset 1px 2px 5px #303030;
                    }
                    .img-fluid {
                        max-width: 100%;
                        height: auto;
                    }
                    .erreur {
                        color: red;
                    }
                }
                
                .envoi {
                    padding-top: 100px;
                    background-color: #303030;
                    color: #FFF;
                    padding: 0 35%;
                    margin-bottom: 15%;
                    text-align: center;
                    .img-fluid {
                        max-width: 100%;
                        height: auto;
                    }
                    u {
                        text-decoration-color: #15c5bd;
                        font-size: 2.5vw;
                    }
                }
                
                section {
                    margin-top: 5%;
                    .bgimage {
                        background-image: url("https://c.pxhere.com/photos/04/52/background_circuits_background_image_computer_design-1348718.jpg!d");
                        background-size: cover;
                        filter: blur(2px);
                        opacity: 0.5;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 0;
                    }
                    .acceuil {
                        z-index: 2;
                        left: 25%;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-align-content: center;
                        -ms-flex-line-pack: center;
                        align-content: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                    .logo {
                        width: 30%;
                        height: auto;
                    }
                    .acceuil-titre {
                        -webkit-order: 0;
                        -ms-flex-order: 0;
                        order: 0;
                        -webkit-flex: 0 1 auto;
                        -ms-flex: 0 1 auto;
                        flex: 0 1 auto;
                        -webkit-align-self: center;
                        -ms-flex-item-align: center;
                        align-self: center;
                        background: -webkit-radial-gradient($C1 75%, $C3 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 4vw;
                        font-family: 'bellota', arial;
                    }
                    .block-info {
                        background-color: white;
                        width: 100%;
                        .illu {
                            width: 10%;
                            height: 10%;
                        }
                        p {
                            font-family: 'bellota', arial;
                            padding: 1%;
                        }
                        a {
                            text-align: right;
                        }
                    }
                    .produits {
                        article {
                            width: 99%;
                            margin-top: 1%;
                            background-color: $C2;
                            display: inline-flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            align-content: flex-start;
                            align-items: flex-start;
                            border: $C1 solid 1px;
                            box-shadow: inset $C3 0 0 15px;
                            p {
                                margin-bottom: 0;
                                font-size: 1.2vw;
                                width: 90%;
                                padding-right: 1%;
                                text-align: right;
                                width: 85%;
                                order: 1;
                                flex: 0 1 auto;
                                align-self: auto;
                                padding-top: 3%;
                            }
                            img {
                                order: 0;
                                flex: 0 1 auto;
                                align-self: auto;
                                width: 15%;
                            }
                            .prix {
                                color: $C1;
                                text-align: right;
                                margin-top: -1%;
                                margin-right: 1%;
                                order: 2;
                                flex: 0 1 auto;
                                text-align: right;
                                align-self: auto;
                            }
                        }
                    }
                    .produits:nth-child(2n+0) {
                        article {
                            width: 99%;
                            margin-top: 1%;
                            background-color: $C2;
                            display: inline-flex;
                            flex-direction: row-reverse;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            align-content: flex-start;
                            align-items: flex-start;
                            border: $C1 solid 1px;
                            box-shadow: inset $C3 0 0 15px;
                            float: right;
                            p {
                                margin-bottom: 0;
                                font-size: 1.2vw;
                                width: 90%;
                                padding-right: 1%;
                                text-align: right;
                                width: 85%;
                                order: 1;
                                flex: 0 1 auto;
                                align-self: auto;
                                padding-top: 3%;
                            }
                            img {
                                order: 0;
                                flex: 0 1 auto;
                                align-self: auto;
                                width: 15%;
                            }
                            .prix {
                                color: $C1;
                                text-align: right;
                                margin-top: -1%;
                                margin-left: 1%;
                                order: 2;
                                flex: 0 1 auto;
                                text-align: right;
                                align-self: auto;
                            }
                        }
                    }
                }
                
                footer {
                    box-shadow: $C2 0 -1px 5px;
                    background-color: $C3;
                    z-index: 5;
                    color: $C2;
                    font-family: 'bellota', arial;
                    padding: 0.5%;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    .réseaux {
                        position: fixed;
                        width: 100%;
                        position: initial;
                        text-align: center;
                        color: $C2;
                        font-size: 1vw;
                        a {
                            color: $C1;
                            &:not(:nth-child(2)) {
                                margin-left: 5%;
                            }
                            margin-bottom: 1%;
                            i {
                                font-size: 2vw;
                            }
                            &:hover {
                                color: $C2;
                            }
                            &:visited {
                                color: $C1;
                                &:hover {
                                    color: $C2;
                                }
                            }
                        }
                    }
                }