@charset "UTF-8";
/*nuancier*/
/*la police*/
@import url(http://fr.allfont.net/allfont.css?fonts=bellota);
@font-face { font-family: 'bellota'; src: url("../fonts/bellota/Bellota-Regular.otf") format("truetype"); font-weight: normal; font-style: normal; }

/* Structure */
body { background-color: #303030; }

header { border-bottom: 1px solid #FFF; }

header a { color: #FFF; text-decoration: none; opacity: 0.5; -webkit-transition: 0.1s; transition: 0.1s; }

header a:hover { text-decoration: none; color: #FFF; opacity: 1.0; text-shadow: #303030 0 0 1px; }

header .navigation { position: fixed; background-color: #303030; font-family: 'bellota', arial; width: 100%; z-index: 5; }

header h1 { font-size: 2vw; top: 0.1%; right: 0.1%; position: absolute; text-align: right; color: #FFF; font-family: 'bellota', arial; }

.formulaire { background-color: #303030; color: #FFF; padding: 0 35%; margin-bottom: 10%; }

.formulaire u { -webkit-text-decoration-color: #15c5bd; text-decoration-color: #15c5bd; }

.formulaire .btn { background-color: #FFF; }

.formulaire .btn:hover { -webkit-box-shadow: inset 1px 2px 5px #303030; box-shadow: inset 1px 2px 5px #303030; }

.formulaire .img-fluid { max-width: 100%; height: auto; }

.formulaire .erreur { color: red; }

.envoi { padding-top: 100px; background-color: #303030; color: #FFF; padding: 0 35%; margin-bottom: 15%; text-align: center; }

.envoi .img-fluid { max-width: 100%; height: auto; }

.envoi u { -webkit-text-decoration-color: #15c5bd; text-decoration-color: #15c5bd; font-size: 2.5vw; }

section { margin-top: 5%; }

section .bgimage { background-image: url("https://c.pxhere.com/photos/04/52/background_circuits_background_image_computer_design-1348718.jpg!d"); background-size: cover; -webkit-filter: blur(2px); filter: blur(2px); opacity: 0.5; width: 100%; height: 100%; position: absolute; z-index: 0; }

section .acceuil { z-index: 2; left: 25%; display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

section .logo { width: 30%; height: auto; }

section .acceuil-titre { -ms-flex-order: 0; -webkit-box-ordinal-group: 1; order: 0; -ms-flex: 0 1 auto; -webkit-box-flex: 0; flex: 0 1 auto; -webkit-align-self: center; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; background: -webkit-radial-gradient(#15c5bd 75%, #303030 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 4vw; font-family: 'bellota', arial; }

section .block-info { background-color: white; width: 100%; }

section .block-info .illu { width: 10%; height: 10%; }

section .block-info p { font-family: 'bellota', arial; padding: 1%; }

section .block-info a { text-align: right; }

section .produits article { width: 99%; margin-top: 1%; background-color: #FFF; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; border: #15c5bd solid 1px; -webkit-box-shadow: inset #303030 0 0 15px; box-shadow: inset #303030 0 0 15px; }

section .produits article p { margin-bottom: 0; font-size: 1.2vw; width: 90%; padding-right: 1%; text-align: right; width: 85%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; padding-top: 3%; }

section .produits article img { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; width: 15%; }

section .produits article .prix { color: #15c5bd; text-align: right; margin-top: -1%; margin-right: 1%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; text-align: right; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; }

section .produits:nth-child(2n+0) article { width: 99%; margin-top: 1%; background-color: #FFF; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; border: #15c5bd solid 1px; -webkit-box-shadow: inset #303030 0 0 15px; box-shadow: inset #303030 0 0 15px; float: right; }

section .produits:nth-child(2n+0) article p { margin-bottom: 0; font-size: 1.2vw; width: 90%; padding-right: 1%; text-align: right; width: 85%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; padding-top: 3%; }

section .produits:nth-child(2n+0) article img { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; width: 15%; }

section .produits:nth-child(2n+0) article .prix { color: #15c5bd; text-align: right; margin-top: -1%; margin-left: 1%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; text-align: right; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; }

footer { -webkit-box-shadow: #FFF 0 -1px 5px; box-shadow: #FFF 0 -1px 5px; background-color: #303030; z-index: 5; color: #FFF; font-family: 'bellota', arial; padding: 0.5%; position: fixed; bottom: 0; width: 100%; }

footer .réseaux { position: fixed; width: 100%; position: initial; text-align: center; color: #FFF; font-size: 1vw; }

footer .réseaux a { color: #15c5bd; margin-bottom: 1%; }

footer .réseaux a:not(:nth-child(2)) { margin-left: 5%; }

footer .réseaux a i { font-size: 2vw; }

footer .réseaux a:hover { color: #FFF; }

footer .réseaux a:visited { color: #15c5bd; }

footer .réseaux a:visited:hover { color: #FFF; }
/*# sourceMappingURL=index.css.map */